<!DOCTYPE html>
<html lang="en" ng-app="coLearn" >
<head>
  <title>The CoLearn Playbook</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link rel='shortcut icon' href='assets/images/favicon.ico' type='image/x-icon' />
  <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16" />
  <link href='assets/css/styles.css' rel='stylesheet' />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
</head>

<body  ng-controller="coLearnCtrl">

<style>
  .md {width:100% !important;}
</style>

<div id="navigation_bar">
   <div class="outer_container">
    <div class="inner_container">

      <a href="#introduction"><h3>The CoLearn Playbook</h3></a>
      <ul class="nav">
          <li ng-repeat="play in plays" class="play_square"><a href="#play{{ play.play_number }}" title="View Play {{ play.play_number }}: {{ play.title }}">{{ play.play_number }}</a></li>
      </ul>
      <div id="menu_icon">
        <a href="#plays_index_anchor" title="Return to Index"></a>
      </div>
    </div>
  </div>
</div>

<div id="introduction">
  <div class="outer_container">
    <div class="inner_container">
        <div ng-bind-html="introduction"></div>
      <div class="button">
        <a href="#plays_index_anchor" title="View the Plays">See the plays</a>
      </div>
      <div class="button">
        <a href="https://github.com/whitehouse/playbook#readme" title="Visit Github to Improve This Content">Help improve this content</a>
      </div>
    </div>
  </div>
</div>

<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <h2>The CoLearn Playbook</h2>
      <div class="columns">
        <ol>
          <li ng-repeat="play in plays"><a href="#play{{ play.play_number }}" title="View Play {{ play.play_number }}">{{ play.title }}</a></li>
        </ol>
      </div>
      <div class="button">
        <a href="#play1" title="View the In Detail">In detail</a>
      </div>
    </div>
  </div>
</div>

<div id="plays" class="outer_container" style="width:100%">
    <div ng-repeat="play in plays" class="inner_container" >
      <a class="anchor_offset" id="play{{ play.play_number }}"></a>
      <h6>PLAY {{ play.play_number }}</h6>
      <h2 class="display" style="width:100%">{{ play.title }}</h2>

      <div ng-bind-html="play.text" style="width:100%"></div>
    </div>
</div>

<script src='assets/js/showdown.js'></script>
<script src='assets/js/ng-playbook.js'></script>
<script src='assets/js/jquery-1.11.1.min.js'></script>
<script src='assets/js/scrollspy.js'></script>
<script src='assets/js/site.js'></script>
</body>
</html>
